@import url('https://dl.dropboxusercontent.com/s/gts2fs9ng1p9jvg/app.css?dl=0');
@import url('https://dl.dropboxusercontent.com/s/p37l2zgzisztj7s/style.css?dl=0');


html{
    background: rgb(4,129,220);
    background: linear-gradient(90deg, rgba(4,129,220,1) 16%, rgba(4,204,236,1) 66%);
    overflow-x: hidden;
}


.header-fa{
    height: 315px;    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: -10px;
}

.img-calification{
    margin-top: -05px; 
    margin-right: 0px; 
    margin-left: 3px; 
    margin-top:-4px;
}

#btn-calification{
    border-radius: 20px;
    width: 65px;
    margin-top: 12px;
    height: 25px;
    border: 1px solid;
    margin-right: 11px;
    background-color: rgba(0, 0, 0, 0.43);
    color: #fff;
}


#ng-mx-width{
    max-width: 40px;
}

#mx-width-img{
    max-width: 40px;
    margin-top: -4px;
    margin-left: -15px;
}

#bell {
    font-size: 21px;
    color: white;
}

#row-explore{
    margin-top: -20px;
}

.ml-for{
    margin-left: 15px;
}

#mb-header{
    margin-bottom: 30px;
}

.i-btn{
    border-radius: 130px;
    width: 40px;
    height: 40px;
    background: linear-gradient(105.21deg, #1263B3 -16.12%, #00BDFF 137.25%, rgba(18, 99, 179, 0) 137.27%);

}

.a-btn{
    text-align: center;
    margin-left: -8px;
    margin-right: 5px;
    margin-top: -5px;
}

.data-food{
    margin-left: 5px;
    margin-top: 80px;
    background: rgba(0,0,0,0.3);
    width: 60%;
    height: 78px;
    border-radius: 10px;
    position: absolute;
}


.btnClass{
    border-radius: 50px; 
    border: 2px solid #e8e8e8; 
    border-color: #e8e8e8; 
    background-color:#FFF; 
    color: #979797; width: 80px;
}

.favorite-container{
    background-color:#FDF9EA; 
    margin-top: 30px;
     margin-bottom: 30px; 
     height:350px;
      border-radius: 15px;
}

.heading-container{
    color: #F88922; 
    font-weight: 400;
    margin-top:20px; 
    margin-left:05px;
}

.b-container{
    color: #F88922;
}

.top-container-favorite{
    margin-top: -200px;
}

.favorite-produt{
    height: 80px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px auto;
    max-width: 100px;
}


.product-img img {
    max-height: 107%;
    max-width: 113%;
    border-radius: 5px; 
}


.active-btn{
    background-color: #F88922; 
    color:#fff;
}

.header-top{
    margin-top:0px;
}

.align-text{
    text-align:center;
    text-align:center;
    text-align:center;
    text-align:center;
}

.img-header{
    margin-top: -3px;
}

.icon-circle{
    margin-right: 20px; 
    margin-top: 2px;
}

.text-explorer{
    color:black;
}
.icon-compass{
    margin-left: -12px; 
    color: black;
}

.div-explorer{
    margin-top: 2px; 
    margin-left: -15%;
}

.paragraphs-data-food{
    margin-top: -10px;
}
