<div class=" header-fa"  id="mb-header" [ngStyle]="{'background-image': 'url('+image+')'}" >
    <div class="row no-gutters">
        <div routerLink="/comida" class="col-auto">
            <button id="ng-mx-width"  class="btn  btn-link text-dark menu-btn"><img  id="mx-width-img" src="{{path}}images/previus.png" alt=""></button>
        </div>
        <div class="col text-center ">
        </div>
        <div class="col-auto">
            <button  id="btn-calification"> {{califications}} <img class="img-calification" src="{{path}}images/star-two.svg" width="12px" height="12px" alt="">  </button>
        </div>
    </div>
</div>
<div class="container mt-3 ml-for" [ngStyle]="{'margin-left': '16px', 'margin-top': '0px'}" >
    
</div>
  