<div class="header-pro header-fa" id="header-in">
    <div class="row no-gutters">
        <div (click)="onClick()" class="col-auto">
            <button  class="btn  btn-link text-dark menu-btn"><img src="{{path}}img/menu_white.png" alt=""><span class="new-notification"></span></button>
        </div>
        <div class="col text-center"><img src="{{path}}img/Group19.png" alt="" class="header-logo"></div>
        <div class="col-auto">
            <a routerLink="/notificaciones" class="btn  btn-link text-dark"><i class="bi bi-bell" id="bell"></i></a>
        </div>
    </div>
        <div class="row">
            <div class="col-12">
                <div class="user text-center" id="col-img">
                    <div class="profile"> <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80"> </div>
                </div>
            </div>
        </div>
</div>  
<div class="container">

</div>
  