<div class="container favorite-container" style="width: 86%;" id="info_0">
    <div class="row">
      <div class="col">
        <h6 class="heading-container">Escoje la comida que <b class="b-container">Desees?</b> </h6>
        <p class="subtitle">Mira nuestra seleccion</p>
      </div>
    </div>
  </div>
  
  <div class="container top-container-favorite" id="info_0">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <div class="cardinfo">
          <div class="image-container">
            <div class="first">
            </div> <img src="https://wallpapercave.com/wp/wp9277497.jpg" class="img-fluid rounded thumbnail-image">
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <a class="text-dark mb-1 mt-2 h6 d-block">Café negro</a>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <p class="text-secondary small mb-2">Tasa de cafe negro</p>

            </div>
            <div class="d-flex flex-column mb-2"><span id="span-flex"
                class="new-price">$2.50</span></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 col-lg-3 col-xl-2">
        <div class="cardinfo">
          <div class="image-container">
            <div class="first">
            </div> <img
              src="https://c4.wallpaperflare.com/wallpaper/600/638/461/breakfast-food-bread-fried-eggs-tomato-coffee-wallpaper-preview.jpg"
              class="img-fluid rounded thumbnail-image">
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <a class="text-dark mb-1 mt-2 h6 d-block">Pan con Huevo</a>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <p class="text-secondary small mb-2">Desayuno</p>
            </div>
            <div class="d-flex flex-column mb-2"><span id="span-flex"
                class="new-price">$3.50</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>