<html>
    <section class="pink-theme">
        <app-menu-slide></app-menu-slide>
            <div class="wrapper">
                <app-tienda-header></app-tienda-header>
                <app-tienda-bebidas></app-tienda-bebidas>
                <app-tienda-comida></app-tienda-comida>
                <app-slide-promotion></app-slide-promotion>
                <app-tienda-cuidado-personal></app-tienda-cuidado-personal>
                <app-tienda-artesanias></app-tienda-artesanias>
                <app-footer></app-footer>
            </div>
    </section>
</html>

