<section>
    <div class="header header-fa" >
        <div class="row no-gutters">
            <div routerLink="/inicio" class="col-auto" >
                <button id="ng-mx-width" class="btn  btn-link text-dark menu-btn"><img id="mx-width-img"  src="{{path}}images/previus.png" alt=""></button>
            </div>
            <div class="col text-center"><img src="{{path}}img/Group19.png" alt="" class="header-logo"></div>
            <div class="col-auto">
                <a routerLink="/notificaciones" class="btn  btn-link text-dark"><i class="bi bi-bell" id="bell"></i></a>
            </div>
            <h4 class="heading-text-favorite">{{pageTitle}}</h4>
            <p class="heading-text-p" id="heading-text">{{description}}</p>
        </div>
    </div>
    <div class="container">
        <div class="container" id="container-title-one">
        </div> 

    </div>
</section>