<div class="container">
    <div class="row">
        <div class="col-12 px-0">
            <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-dark mb-1">Notificaciones de correo</h6>
                            <p class="text-secondary mb-0 small">Se enviarán todas las notificaciones predeterminadas</p>
                        </div>
                        <div class="col-2 pl-0 align-self-center text-right">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-dark mb-1">Notificación por push</h6>
                            <p class="text-secondary mb-0 small">Recibiras notificaciones push en tu telefono</p>
                        </div>
                        <div class="col-2 pl-0 align-self-center text-right">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                <label class="custom-control-label" for="customSwitch4"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <a routerLink="/cambiar-contraseña" class="row">
                        <div class="col">
                            <h6 class="text-dark mb-1">Cambiar la contraseña</h6>
                            <p class="text-secondary mb-0 small">Debes necesitar tu correo electrónico verificado</p>
                        </div>
                        <div class="col-2 pl-0 align-self-center text-right">
                            <i class="material-icons ">chevron_right</i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="row">
                        <div class="col">
                            <h6 class="text-dark mb-1">Cambiar idioma</h6>
                            <p class="text-secondary mb-0 small">Se cambiara el idioma de la interfaz de la aplicación</p>
                        </div>
                        <div class="col-2 pl-0 align-self-center text-right">
                            <i class="material-icons ">chevron_right</i>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/cambiar-divisa" class="row">
                        <div class="col">
                            <h6 class="text-dark mb-1">Cambio de divisa</h6>
                            <p class="text-secondary mb-0 small">Solo se puede realizar el cambio a dolar americano (USD)</p>
                        </div>
                        <div class="col-2 pl-0 align-self-center text-right">
                            <i class="material-icons ">chevron_right</i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>