<section>
    <div class="container " >        
        <div class="container" id="mt-cont"> 
            <div class="row" [ngStyle]="{'margin-top':'18px'}">
                <div class="col-8">
                    <h6 class="subtitle sb-heading" >Productos añadidos</h6>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let prod of productArray" >
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <div class="container cont-card-body" >
                            <div class="row">
                            <div class="col-6">
                                <div class="badge badge-success float-left mt-1 ml-card">{{prod.descount}}</div>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-sm btn-link float-right p-0 ml-card-2"><i class="bi bi-heart-fill"></i></button>
                            </div>
                            </div>
                        </div>
                        <figure class="product-image"><img src="{{prod.img}}" alt="" class=""></figure>
                        <a class="text-dark mb-1 mt-2 h6 d-block">{{prod.name}}</a>
                        <p class="text-secondary small mb-3 mt-2">{{prod.description}}</p>
                        <h5 class="text-success font-weight-normal mb-0">$ {{prod.price}}</h5>
                        <button id="rounded-btn" (click)="addCart(prod)" routerLink="/carrito" class="btn btn-default button-rounded-36 shadow-sm float-bottom-right"><i id="align-item" class="material-icons md-18">shopping_cart</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>