<section class="ftco-section section-back">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card br-card">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="w-100">
                            <h2 class="mb-2 heading-password" >Recuperar Datos</h2>
                          <p class="paragraphs-pasword">Ingrese el correo con el que se registro</p>
                        </div>
                    </div>        
                  <form>

                    <div class="w-100 ml-3 img-forgot-password div-img-password">
                        <img src="{{path}}images/forgot-password.png" alt="forgot password" width="80%" height="60%">
                    </div>

                    <div class="form-group mb-3">
                        <input type="email" class="form-control" placeholder="mail@mail.com" required>
                    </div>
    
                    <div class="form-group mb-50">
                        <p class="text-password" >Los datos de tu cuenta los reciviras en el correo que ingresaste</p>
                    </div>

                    <div class="form-group mb-form">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">ENVIAR SOLICITUD <i class="bi bi-arrow-right ml-i"></i>
                        </button>
                    </div>        						
                  </form>
                  <p class="reformat-text">¿Ya tienes cuenta? <a data-toggle="tab" class="password-btn" routerLink="">Iniciar Sesión aqui</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
</section>