<section class="section-food-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mb-3">
                <div class="food-card food-card--vertical bg-white rounded-lg overflow-hidden mb-4 shadow">
                    <div class="food-card_img position-relative">
                        <img src="https://www.hardrockhotels.com/ibiza/es/files/6218/shutterstock_1127452964.jpg" alt="">
                        
                    </div>
                    <div class="food-card_content">
                        <div class="food-card_title-section overflow-hidden">
                            <h4 class="food-card_title"><a href="#!" class="text-dark text-name ">Clase de jet ski</a></h4>
                            <div class="d-flex justify-content-between">
                                <a class="food-card_author"></a>
                                <div class="mb-10" class="div-card" >
                                    
                                </div>
                            </div>
                        </div>

                        <div class="food-card_bottom-section" class="mt-card-food">
                            <div class="d-flex justify-content-between"> 
                                <div>
                                    <div class="food-card_price" id="mt-price">
                                        Desde: 
                                        <span id="food-card_price-span">$25.00</span>
                                    </div>                                
                                </div>
                                <div class="mt-div-food">
                                     
                                </div>
                            </div>
                        </div>							
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>