@import url('https://dl.dropboxusercontent.com/s/gts2fs9ng1p9jvg/app.css?dl=0');
@import url('https://dl.dropboxusercontent.com/s/p37l2zgzisztj7s/style.css?dl=0');


html{
    background: rgb(4,129,220);
    background: linear-gradient(90deg, rgba(4,129,220,1) 16%, rgba(4,204,236,1) 66%);
    overflow-x: hidden;
}

.icon-svg{
    font-size:25px; 
    color:#1263B4;
}

#card-orders{
    background: #FFFFFF;
    box-shadow: -2.66111px 2.66111px 9.31389px rgb(98 98 98 / 10%);
    border-radius: 13.3056px;
    margin-top: 20px;
    margin-bottom: -50px;
    width: 380px !important;

}

.class-3 {
    border: none;
    background: #fff;
    border-top-color: #00142d;
    border-top-style: dashed;
    border-top-width: 3px;
    font-size: 20px;
    height: 15px;
    margin-right: 10px;
}

#code-promotion{
    width: 201px; 
    margin-right: -42px; 
    border-radius: 16px !important;
}


#ml-price{
    margin-left: -30px;
    margin-top:-5px;
}


#price-total{
    margin-left: -30px;
    margin-top:-25px;
    margin-bottom: 12px;
}


#ml-price-head{
    margin-left: -30px;
    margin-top:-25px;
    margin-bottom: 12px;
}

#price-total{
    margin-left: -30px;
    margin-top:-13px;
    margin-bottom: 12px;
}
.car-align{
    text-align: center;
}

.img-more{
    box-shadow: 2px 10px 28px rgb(75 0 129 / 12%);
    border-radius: 35px;
    max-width: 36px;
    text-align: end;
    margin-right: 20px;
    margin-top: -0px;
}

#align-second{
    text-align: end;
    margin-left: 12px;
}

#col-mt{
    margin-left: 15px;
}

#mt-row{
    margin-top: -30px;
}

#btn-cancelar{
    background-color:#fff; 
    border: 2px solid #ededed;
    color: #979797;
    border-radius: 30px !important;
    font-size: 10px;
    height: 40px;
    width: 132px;
}

#btn-more-product{
    background-color:#fff; 
    border: 2px solid #ededed;
    color: #979797;
    border-radius: 10px !important;
    font-size: 13px;
    height: 50px;
    width: 185px;
}

#btn-less{
    margin-left: -50px;
    margin-right: -6px;
}

.btn-but{
    margin-left: -50px;
}

.h4-price{
    font-size: 10px; 
    margin-top:-10px; 
    font-weight: bold;
}

.mt-top{
    margin-top: 8px;
}

#number-data{
    color: #3e3e3e;
}

.mt-count{
    margin-top: 15px;
}

.mt-head{
    margin-top:10px
}

#col-text{
    text-align: left;
    justify-content: center;
    display: flex; 
    margin-top: -15px;
    margin-top: 20px;


}


#col-text-align{
    text-align: left !important;
    justify-content: center;
    display: flex; 
    margin-top:0px;
    color: #1263B3;
}


#card-product{
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px rgb(75 0 129 / 12%);
    margin-left: 5px;
    margin-right: 0px;
}

.a-product{
    font-weight: bold; 
    color: #000; 
    font-size:20px; 
    margin-left: 10px;
}

.header-fa{
    background-color: aliceblue;
    background: linear-gradient(105.21deg, #1263B3 -16.12%, #00BDFF 137.25%, rgba(18, 99, 179, 0) 137.27%); 
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px; 
    height: 150px;
    margin-bottom: -25px;

}

.i-btn{
    border-radius: 130px;
    width: 40px;
    height: 40px;
    background: linear-gradient(105.21deg, #1263B3 -16.12%, #00BDFF 137.25%, rgba(18, 99, 179, 0) 137.27%);

}

.a-btn{
    text-align: center;
    margin-left: -8px;
    margin-right: 5px;
    margin-top: -5px;
}

.btnClass{
    border-radius: 50px; 
    border: 2px solid #e8e8e8; 
    border-color: #e8e8e8; 
    background-color:#FFF; 
    color: #979797; width: 80px;
}

.favorite-container{
    background-color:#FDF9EA; 
    margin-top: 30px;
     margin-bottom: 30px; 
     height:350px;
      border-radius: 15px;
}

.heading-container{
    color: #F88922; 
    font-weight: 400;
    margin-top:20px; 
    margin-left:05px;
}

.b-container{
    color: #F88922;
}

.top-container-favorite{
    margin-top: -200px;
}

.favorite-produt{
    height: 80px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px auto;
    max-width: 100px;
}

.product-img img {
    max-height: 107%;
    max-width: 113%;
    border-radius: 5px; 
}


.header-inpt{
    margin-bottom: -40px; 
    margin-top: -5px;

}

#ft-size-span{
    font-size:20px;
}

.book{
    width: 120px;
    height: 180px;
    border-radius: 5px
}

input{
    background-color: #F3E5F5;
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    border: 1px solid #F3E5F5;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300
}

input:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #9FA8DA;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.container-recomendar{
    margin-top:-285px; 
    margin-bottom: 70px;
}

#search-inicio{
    background-color: #fff; 
    border-radius: 20px;
    width:90%; 
    margin-left: 4.5%;
    box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);}

.index-compas{
    margin-left: -12px; 
    color: black;
}

.head-color{
    color:black;
}

.mt-container{
    margin-top:10px;
}

.text-align-cont{
    text-align:center;
}

.head-div-explorer{
    margin-top: 2px;
    margin-left: -15%;
}

.mt-description{
    margin-bottom: 24px;
}

.sb-heading{
    color:#3e3e3e; 
    margin-top: 0px;
}

.div-look-more{
    margin-top:0px;
}

.cont-card-body{
    margin-top:-15px;
}

.ml-card{
    margin-left:-20px;
}

.ml-card-2{
    margin-right:-20px;
    margin-top: -03px;

}

.mt-pay{
    margin-top: 180px;
}

#pay-now{
    border-radius: 13px !important;
}

#paypal-svg{
    max-width: 94px;
    margin-top: -30px;
}


#rounded-btn{
    border-radius: 130px; 
    width: 40px; 
    height: 40px; 
    background: linear-gradient(105.21deg, #1263B3 -16.12%, #00BDFF 137.25%, rgba(18, 99, 179, 0) 137.27%);
}

#align-item{
    text-align: center; 
    margin-left: -8px; 
    margin-right: 5px; 
    margin-top: -5px;
}


#container-hotel{
    margin-top: 05px;
    margin-bottom: -4px;
}

.ml-price{
    margin-left: -15px;
    color:#3e3e3e;
}

#card-show{
    box-shadow: 0px 4px 4px rgb(219 219 219 / 45%);
    border-radius: 10px !important;
}

#container-title-one{
    margin-top: -45px;
    margin-bottom: -5px;
}

#price-text{
    color: #F88922 !important;
    font-size: 30px;
}

#text-secondary-ml{
    font-size:18px;
    color: #3e3e3e !important;
}

#chart-style{
    margin-top:-15px;
}

#heading-hotel{
    color:#3E3E3E !important;
    font-weight: 500;
    margin-left: -35px;
}

#heading-hotel-ml{
    color:#3E3E3E !important;
    font-weight: 400;
    margin-left: -35px;
    font-size:13px;
}

#col{
    margin-top: -50px;
}

#mw-image{
    max-width: 40px;
}

#row-expense-date{
    margin-top:-15px;
    margin-bottom: 5px;
}

#img-check{
    max-width: 60px;
    max-width: 60px;
    margin-left: -30px;
    margin-top: -46px;
}

#black-text{
    font-weight: 400;
    color: #000;
}

#img-room{
    margin-left: 33px;
    margin-top: -5px;
}

#credit-card-color{
    color: #1263B4 !important;
}