<div class="row mx-auto my-auto justify-content-center carousel-slide mt-food-row">
    <div class="container" class="container-food">
      <div class="row">
        <div class="col-3 text-align" >
          <div class="card-img text-align">
            <img class="img-food" width="100px;" src="{{path}}/images/plato1.png"
              class="img-fluid">
            <h5 class="subtitle color-h5">Desayunos</h5>
          </div>
        </div>
        <div class="col-3 text-align">
          <div class="card-img text-align">
            <img class="img-food" width="100px;" src="{{path}}/images/plato1.png"
              class="img-fluid">
            <h5 class="subtitle color-h5">Almuerzo</h5>
          </div>
        </div>
        <div class="col-3 text-align">
          <div class="card-img text-align">
            <img class="img-food"  width="100px;" src="{{path}}/images/plato1.png"
              class="img-fluid">
            <h5 class="subtitle color-h5">Cena</h5>
          </div>
        </div>
        <div class="col-3 text-align" >
          <div class="card-img text-align">
            <img class="img-food" width="100px;" src="{{path}}/images/plato1.png"
              class="img-fluid">
            <h5 class="subtitle color-h5">Tipicos</h5>
          </div>
        </div>

      </div>
    </div>
  </div>