
<section id="border-section">
    <div class="container" id="container-value">
        <div class="row">
            <div class="col-4">
                <h6 id="category-title">Valoraciones</h6>
            </div>
            <div class="col-8">
                <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>
            </div>
        </div>

        <div class="container"[ngStyle]="{'margin-top': '40px'}">
            <div class="row">

            </div>
        </div>
    </div>

    <div >
        <div class="container" id="card-orders">
            <div class="row">
                <div class="col-4">
                    <img id="icon-comillas" src="{{path}}img/comillas.png" alt="" srcset="">
                </div>
            </div>
    
            <div class="row">
                <div class="col-8">
                    <p id="description">Faucibus est urna, cursus scelerisque senectus. Nibh sit viverra eget vitae. </p>
                </div>
                <div class="col-4">
                    <div class="mt-div-food">
                        <img width="50px" [ngStyle]="{'border-radius': '50%', 'margin-top': '-8px', 'margin-left':'-13px'}" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGV8ZW58MHx8MHx8&w=1000&q=80" alt="Avatar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <h6 id="description-name">Marta Ortez</h6>
                </div>
                <div class="col-8">
                    
                    <div class="rating"> 
                        <input type="radio" value="5" id="5"><img class="img-calification" src="{{path}}images/star-two.svg" width="30px" height="12px" alt=""> 
                        <input type="radio" value="4" id="4"><img class="img-calification" src="{{path}}images/star-two.svg" width="30px" height="12px" alt=""> 
                        <input type="radio" value="3" id="3"><img class="img-calification" src="{{path}}images/star-two.svg" width="30px" height="12px" alt=""> 
                        <input type="radio" value="2" id="2"><img class="img-calification" src="{{path}}images/star-two.svg" width="30px" height="12px" alt=""> 
                        <input type="radio" value="1" id="1"><img class="img-calification" src="{{path}}images/star-two.svg" width="30px" height="12px" alt=""> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container"[ngStyle]="{'margin-top': '80px'}">
        <div class="row">

        </div>
    </div>

</section>