<section class="sect-in">
    <div class="container">
        <div class="container" id="col-text" >
            <div class="row">
                <div class="col-2">
                    <i class="bi bi-patch-check"></i>
                </div>
                <div class="col">
                    <h6 id="name">{{name}}</h6> 
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="col-text">
        <div class="row">
            <div class="col-12">
                <p id="mt-mail">monica@mail.com</p>
            </div>
        </div>
    </div>
    <div class="container"  id="col-text">
        <div class="row">
            <div class="col-12">
                <img class="mt-qr" width="150" height="120" src="{{path}}images/qr-intro.png" alt="">
            </div>
        </div>
    </div>
    <div class="container cont-balance" id="col-text-align">
        <div class="row">
            <div class="col-12" id="mt-balance">
                <h6>Balance</h6>
            </div>
            <div class="col-12 price-mt">
                <h4 class="text-dark my-0" id="price-text">$ {{price}}</h4>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row">
            <div class="col-8" id="mt-room" >
                <h6>Nombre de la habitacion:</h6>
            </div>
            <div class="col-4" id="price-heading">
                <h6>Precio:</h6>
            </div>
        </div>
    </div>
    <div class="container mt-0 cont-information">
        <div class="row">
            <div class="col-8" id="mt-room">
                <p>One bedroom Suite 101</p>
            </div>
            <div class="col-4" id="price-heading-in">
                <p>$ 260,00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3"  id="col-text-mt">
                <i id="room-i" class="bi bi-gem"></i>                
            </div>
            <div class="col" id="mt-room-2">
                <p>Habitación: # 014</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3" id="col-text-mt">
                <i id="room-i" class="bi bi-calendar3"></i>                
            </div>
            <div class="col" id="mt-room-2">
                <p>Check-in : Martes 13/04 3:00pm </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9" id="mt-room-2">
                <p>Check-out : Jueves 15/04 11:00am </p>
            </div>
        </div>
    </div>
    <div class="container"  id="col-buttom">
        <div class="row">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3 mb-4 mt-0 mt-buttom" id="br-buttom">
                Paquetes Adquiridos
            </button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show m-panel active mb-5"  id="nav-delivery" role="tabpanel" aria-labelledby="nav-delivery-tab">
            <ul class="list-items">
                <li>
                    <div class="row">
                        <div class="col-6">
                            Clases de surf 
                        </div>
                        <div class="col-3">
                            <a class="ml-price">$70.00</a>
                        </div>
                        <div class="col-3 ml-icons">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-6">
                            Clases de surf 
                        </div>
                        <div class="col-3">
                            <a class="ml-price">$70.00</a>
                        </div>
                        <div class="col-3 ml-icons">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-6">
                            Clases de surf 
                        </div>
                        <div class="col-3">
                            <a class="ml-price">$70.00</a>
                        </div>
                        <div class="col-3 ml-icons">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-6">
                            Clases de surf 
                        </div>
                        <div class="col-3">
                            <a class="ml-price ml-icons">$70.00</a>
                        </div>
                        <div class="col-3 ml-icons">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>                    
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container mt-0">
        <div class="row">
            <div class="col-12" id="mt-room" >
                <h6>Fotos tomadas de tus paseos:</h6>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="mt-img">
            <div class="col-3">
                <img src="{{path}}images/Photos.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-1.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-2.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-3.png" width="85" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="mt-img-line2">
            <div class="col-3">
                <img src="{{path}}images/Photos.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-1.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-2.png" width="85" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="{{path}}images/Photos-3.png" width="85" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="container mt-0">
        <div class="row">
            <div class="col-12" id="contact-information" >
                <h6>Informacion de contacto</h6>
            </div>
        </div>
    </div>
    <div class="container"  id="div-data">
        <div class="row">
            <div class="col-1" id="icon-color">
                <i class="bi bi-telephone"></i>
            </div>
            <div class="col-11">
                <h6 class="number-type">0648422735</h6>
            </div>
        </div>
    </div>
    <div class="container"  id="div-data-two">
        <div class="row">
            <div class="col-1" id="icon-color">
                <i class="bi bi-geo-alt"></i>            
            </div>
            <div class="col-11">
                <h6 class="number-type">49, place Lebreton,Chevalierboeuf, France</h6>
            </div>
        </div>
    </div>
    <div class="container"  id="col-buttom">
        <div class="row">
            <button type="submit" routerLink="/editar-perfil" class="form-control btn btn-primary rounded submit px-3 mb-4 mt-0 mt-buttom" id="br-buttom-edit">
                Mi Habitación
            </button>
        </div>
    </div>

    <div class="container"  id="col-buttom">
        <div class="row">
            <button type="submit" routerLink="/editar-perfil" class="form-control btn btn-primary rounded submit px-3 mb-4 mt-0 mt-buttom" id="br-buttom-edit">
                Editar Perfil
            </button>
        </div>
    </div>
</section>
